<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <a href="./index.html" class="footer-logo">Lloyd<span class="green-span">Jefferson.</span></a>
      <ul class="footer-list">
        <li>
          <a class="footer-link green-link" target="_blank" href="https://www.instagram.com/goitclub/">Instagram</a>
        </li>
        <li>
          <a class="footer-link green-link" target="_blank" href="https://www.facebook.com/goITclub/">Facebook</a>
        </li>
        <li>
          <a class="footer-link green-link" target="_blank"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it">Linkedin</a>
        </li>
        <li>
          <a class="footer-link green-link" target="_blank"
            href="https://github.com/o-hadalin/portfolio-2.0_g.5">GitHub</a>
        </li>
      </ul>
    </div>
    <p class="footer-copyright">
      &copy; Copyright 2024. Made by LloydJefferson
    </p>
  </div>
</footer>