<header class="header container">
  <div class="header-container">
    <nav class="header-navigation">
      <p class="header-logo">Lloyd<span class="green-span">Jefferson.</span></p>
      <ul class="header-list">
        <li><label class="switch">
            <input type="checkbox" id="toggle" class="checkbox-toggle">
            <span class="slider"></span>
          </label></li>
        <li class="header-list-item"><a class="header-link" href="#about-me">About me</a>
        </li>
        <li class="header-list-item"><a class="header-link" href="#my-project">Projects</a>
        </li>
        <li class="header-list-item"><a class="header-link" href="#work-together">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-toggle js-open-menu"><svg class="mob-icon icon-toggle-color" width="32px"
        height="32px">
        <use href="./img/sprite.svg#icon-mob-open">

        </use>
      </svg>
    </button>
  </div>
</header>