<header class="header">
  <div class="header-container container">
    <nav class="header-navigation">
      <a href="./index.html" class="header-logo"
        >Lloyd<span class="green-span">Jefferson.</span></a
      >
      <ul class="header-list">
        <li class="switch-element">
          <label class="switch">
            <input type="checkbox" class="checkbox-toggle header-toggle" />
            <span class="slider"></span>
          </label>
        </li>
        <li class="header-list-item">
          <a class="header-link green-link" href="#about-me">About me</a>
        </li>
        <li class="header-list-item">
          <a class="header-link green-link" href="#my-projects">Projects</a>
        </li>
        <li class="header-list-item">
          <a class="header-link green-link" href="#work-together">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-toggle js-open-menu">
      <svg class="mob-icon icon-toggle-color" width="32px" height="32px">
        <use href="./img/sprite.svg#icon-mob-open"></use>
      </svg>
    </button>
  </div>
</header>
