<section class="hero">
  <div class="container">
    <div class="hero-content-container">
      <div class="title-btn-cont">
        <h1 class="hero-title">
          HELLO, I AM <span class="green-span">FULLSTACK DEVELOPER</span>
        </h1>
        <a class="hero-btn" href="#work-together">ORDER THE PROJECT</a>
      </div>
      <div class="img-text-cont">
        <div class="img-bg-container">
          <img class="hero-img" srcset="/img/hero/img-hero-desk@2x.jpg" src="./img/hero/img-hero-desk.jpg"
            alt="some dude" />
        </div>
        <p class="hero-text">
          I work with people all over the world to create
          <span class="hero-text-span">impressive</span> and
          <span class="hero-text-span">functional websites</span> that reflect
          each client’s unique personality.
        </p>
      </div>
    </div>
  </div>
  <div class="list-container">
    <ul class="hero-list">
      <li class="hero-list-item">
        <a class="hero-list-item-link green-link" target="_blank"
          href="https://www.instagram.com/goitclub/">Instagram</a>
      </li>
      <li class="hero-list-item">
        <a class="hero-list-item-link green-link" target="_blank" href="https://www.facebook.com/goITclub/">Facebook</a>
      </li>
      <li class="hero-list-item">
        <a class="hero-list-item-link green-link" target="_blank"
          href="https://www.linkedin.com/school/goit-start-your-career-in-it">Linkedin</a>
      </li>
      <li class="hero-list-item">
        <a class="hero-list-item-link green-link" target="_blank"
          href="https://github.com/o-hadalin/portfolio-2.0_g.5">GitHub</a>
      </li>
    </ul>
  </div>
</section>