<div class="mob-menu">
  <div class="mob-nav container">
    <div class="header-mob">
      <a href="./index.html" class="header-logo"
        >Lloyd<span class="green-span">Jefferson.</span></a
      >
      <button type="button" class="menu-close js-close-menu">
        <svg class="mob-icon icon-toggle-color" width="32px" height="32px">
          <use href="./img/sprite.svg#icon-mob-close"></use>
        </svg>
      </button>
    </div>
    <ul class="mob-list">
      <li class="mob-list-item">
        <a class="header-link green-link" href="#about-me">About me</a>
      </li>
      <li class="mob-list-item">
        <a class="header-link green-link" href="#my-projects">Projects</a>
      </li>
      <li class="mob-list-item">
        <a class="header-link green-link" href="#work-together">Contacts</a>
      </li>
    </ul>
    <label class="switch mob-switch">
      <input type="checkbox" class="checkbox-toggle mobile-toggle" />
      <span class="slider"></span>
    </label>
  </div>
</div>
