<section class="my-projects" id="my-projects">
  <div class="container">
    <h2 class="title-projects">my <span class="green-span">projects</span></h2>

    <ul class="list-projects">
      <li class="list-project-item" style="display: none">
        <div class="project-container">
          <div class="container-image">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/my-projects/finances-desk.jpg    1x,
                  /img/my-projects/finances-desk@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/my-projects/finances-tab.jpg    1x,
                  /img/my-projects/finances-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 360px)"
                srcset="
                  /img/my-projects/finances-mob.jpg    1x,
                  /img/my-projects/finances-mob@2x.jpg 2x
                "
              />
              <img
                class="image"
                src="/img/my-projects/finances-desk.jpg"
                alt="app about finance"
              />
            </picture>
          </div>
          <div class="info-container">
            <p class="text-info">React, JavaScript, Node JS, Git</p>
            <h3 class="title about-project">Wallet webservice</h3>
            <a
              href="https://github.com/o-hadalin/portfolio-2.0_g.5"
              target="blank"
              class="visit-button"
              >VISIT
              <svg class="icon-button" width="18" height="18">
                <use href="/img/sprite.svg#icon-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="list-project-item" style="display: none">
        <div class="project-container">
          <div class="container-image">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/my-projects/vegetables-desk@1x.jpg 1x,
                  /img/my-projects/vegetables-desk@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/my-projects/vegetables-tab@1x.jpg 1x,
                  /img/my-projects/vegetables-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 360px)"
                srcset="
                  /img/my-projects/vegetables-mob@1x.jpg 1x,
                  /img/my-projects/vegetables-mob@2x.jpg 2x
                "
              />
              <img
                class="image-project"
                src="/img/my-projects/vegetables-desk@1x.jpg"
                alt="delivery of organic vegetables"
              />
            </picture>
          </div>
          <div class="info-container">
            <p class="text-info">React, JavaScript, Node JS, Git</p>
            <h3 class="title about-project">Green harvest webservice</h3>
            <a
              href="https://github.com/o-hadalin/portfolio-2.0_g.5"
              target="blank"
              class="visit-button"
              >VISIT
              <svg class="icon-button" width="18" height="18">
                <use href="/img/sprite.svg#icon-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="list-project-item" style="display: none">
        <div class="project-container">
          <div class="container-image">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/my-projects/english-desk.jpg    1x,
                  /img/my-projects/english-desk@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/my-projects/english-tab.jpg    1x,
                  /img/my-projects/english-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 360px)"
                srcset="
                  /img/my-projects/english-mob.jpg    1x,
                  /img/my-projects/english-mob@2x.jpg 2x
                "
              />
              <img
                class="image-project"
                src="/img/my-projects/english-desk.jpg"
                alt="english webservice"
              />
            </picture>
          </div>
          <div class="info-container">
            <p class="text-info">React, JavaScript, Node JS, Git</p>
            <h3 class="title about-project">English Exellence webservice</h3>
            <a
              href="https://github.com/o-hadalin/portfolio-2.0_g.5"
              target="blank"
              class="visit-button"
              >VISIT
              <svg class="icon-button" width="18" height="18">
                <use href="/img/sprite.svg#icon-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="list-project-item" style="display: none">
        <div class="project-container">
          <div class="container-image">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/my-projects/transforming-desk.jpg     1x,
                  /img/my-projects/turn-business-desk@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/my-projects/transforming-tab.jpg    1x,
                  /img/my-projects/transforming-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 360px)"
                srcset="
                  /img/my-projects/transforming-mob.jpg    1x,
                  /img/my-projects/transforming-mob@2x.jpg 2x
                "
              />
              <img
                class="image-project"
                src="/img/my-projects/transforming-desk.jpg"
                alt="power pulse webservice"
              />
            </picture>
          </div>
          <div class="info-container">
            <p class="text-info">React, JavaScript, Node JS, Git</p>
            <h3 class="title about-project">power pulse webservice</h3>
            <a
              href="https://github.com/o-hadalin/portfolio-2.0_g.5"
              target="blank"
              class="visit-button"
              >VISIT
              <svg class="icon-button" width="18" height="18">
                <use href="/img/sprite.svg#icon-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="list-project-item" style="display: none">
        <div class="project-container">
          <div class="container-image">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/my-projects/ukrainian-desk.jpg    1x,
                  /img/my-projects/ukrainian-desk@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/my-projects/ukrainian-tab.jpg    1x,
                  /img/my-projects/ukrainian-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 360px)"
                srcset="
                  /img/my-projects/ukrainian-mob.jpg    1x,
                  /img/my-projects/ukrainian-mob@2x.jpg 2x
                "
              />
              <img
                class="image-project"
                src="img/my-projects/ukrainian-desk.jpg"
                alt="online store of vyshyvankas"
              />
            </picture>
          </div>
          <div class="info-container">
            <p class="text-info">React, JavaScript, Node JS, Git</p>
            <h3 class="title about-project">vyshyvanka vibes Landing Page</h3>
            <a
              href="https://github.com/o-hadalin/portfolio-2.0_g.5"
              target="blank"
              class="visit-button"
              >VISIT
              <svg class="icon-button" width="18" height="18">
                <use href="/img/sprite.svg#icon-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="list-project-item" style="display: none">
        <div class="project-container">
          <div class="container-image">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/my-projects/body-shape-desk.jpg    1x,
                  /img/my-projects/body-shape-desk@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/my-projects/body-shape-tab.jpg    1x,
                  /img/my-projects/body-shape-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 360px)"
                srcset="
                  /img/my-projects/body-shape-mob.jpg    1x,
                  /img/my-projects/body-shape-mob@2x.jpg 2x
                "
              />
              <img
                class="image-project"
                src="/img/my-projects/body-shape-desk.jpg"
                alt="website about fitness and healthy food"
              />
            </picture>
          </div>
          <div class="info-container">
            <p class="text-info">React, JavaScript, Node JS, Git</p>
            <h3 class="title about-project">energy flow webservice</h3>
            <a
              href="https://github.com/o-hadalin/portfolio-2.0_g.5"
              target="blank"
              class="visit-button"
              >VISIT
              <svg class="icon-button" width="18" height="18">
                <use href="/img/sprite.svg#icon-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="list-project-item" style="display: none">
        <div class="project-container">
          <div class="container-image">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/my-projects/mimino-desk@1x.jpg 1x,
                  /img/my-projects/mimino-desk@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/my-projects/mimino-tab@1x.jpg 1x,
                  /img/my-projects/mimino-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 360px)"
                srcset="
                  /img/my-projects/mimino-mob@1x.jpg 1x,
                  /img/my-projects/mimino-mob@2x.jpg 2x
                "
              />
              <img
                class="image-project"
                src="/img/my-projects/mimino-desk@1x.jpg"
                alt="restaurant hotel complex"
              />
            </picture>
          </div>
          <div class="info-container" data-visible="false">
            <p class="text-info">React, JavaScript, Node JS, Git</p>
            <h3 class="title about-project">mimino website</h3>
            <a
              href="https://github.com/o-hadalin/portfolio-2.0_g.5"
              target="blank"
              class="visit-button"
              >VISIT
              <svg class="icon-button" width="18" height="18">
                <use href="/img/sprite.svg#icon-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="list-project-item" style="display: none">
        <div class="project-container">
          <div class="container-image">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/my-projects/golden-girl-desk.jpg    1x,
                  /img/my-projects/golden-girl-desk@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/my-projects/golden-girl-tab.jpg    1x,
                  /img/my-projects/golden-girl-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 360px)"
                srcset="
                  /img/my-projects/golden-girl-mob.jpg    1x,
                  /img/my-projects/golden-girl-mob@2x.jpg 2x
                "
              />
              <img
                class="image-project"
                src="/img/my-projects/golden-girl-desk.jpg"
                alt="website of jewerly"
              />
            </picture>
          </div>
          <div class="info-container">
            <p class="text-info">React, JavaScript, Node JS, Git</p>
            <h3 class="title about-project">chego jewelry website</h3>
            <a
              href="https://github.com/o-hadalin/portfolio-2.0_g.5"
              target="blank"
              class="visit-button"
              >VISIT
              <svg class="icon-button" width="18" height="18">
                <use href="/img/sprite.svg#icon-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="list-project-item" style="display: none">
        <div class="project-container">
          <div class="container-image">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/my-projects/fruits-desk.jpg    1x,
                  /img/my-projects/fruits-desk@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/my-projects/fruits-tab.jpg    1x,
                  /img/my-projects/fruits-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 360px)"
                srcset="
                  /img/my-projects/fruits-mob.jpg    1x,
                  /img/my-projects/fruits-mob@2x.jpg 2x
                "
              />
              <img
                class="image-project"
                src="/img/my-projects/fruits-desk.jpg"
                alt="online store of fruits"
              />
            </picture>
          </div>
          <div class="info-container">
            <p class="text-info">React, JavaScript, Node JS, Git</p>
            <h3 class="title about-project">fruitbox online store</h3>
            <a
              href="https://github.com/o-hadalin/portfolio-2.0_g.5"
              target="blank"
              class="visit-button"
              >VISIT
              <svg class="icon-button" width="18" height="18">
                <use href="/img/sprite.svg#icon-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>

      <li class="list-project-item" style="display: none">
        <div class="project-container">
          <div class="container-image">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img/my-projects/turn-business-desk.jpg    1x,
                  /img/my-projects/turn-business-desk@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/my-projects/turn-business-tab.jpg    1x,
                  /img/my-projects/turn-business-tab@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 360px)"
                srcset="
                  /img/my-projects/turn-business-mob.jpg    1x,
                  /img/my-projects/turn-business-mob@2x.jpg 2x
                "
              />
              <img
                class="image-project"
                src="/img/my-projects/turn-business-desk.jpg"
                alt="studio of business"
              />
            </picture>
          </div>
          <div class="info-container">
            <p class="text-info">React, JavaScript, Node JS, Git</p>
            <h3 class="title about-project">starlight studio landing page</h3>
            <a
              href="https://github.com/o-hadalin/portfolio-2.0_g.5"
              target="blank"
              class="visit-button"
              >VISIT
              <svg class="icon-button" width="18" height="18">
                <use href="/img/sprite.svg#icon-visit"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
    </ul>

    <button class="load-btn" type="button">LOAD MORE</button>
  </div>
</section>
