<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper-container">
      <ul class="swiper-wrapper" id="reviews-list"></ul>
      <div class="swiper-buttons-container">
        <button class="swiper-button-prev">
          <svg class="icon icon-toggle-color">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="swiper-button-next">
          <svg class="icon icon-toggle-color">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <div id="error-message" class="hidden">Not found</div>
    <script src="./js/reviews.js" type="module"></script>
  </div>
</section>