<section class="work-together">
  <div class="container">
    <h2 class="title contact-title">
      let's <span class="green-span">work</span>
      <span class="green-span">together</span>
    </h2>
    <div class="contact-content-container">
      <p class="contact-text">
        Contact me to transform your ideas into exceptional solutions.
      </p>
      <address class="address">
        <a class="address-link" href="tel:+380904567890">+38 090 456 78 90</a><a class="address-link"
          href="mailto:lloydjefferson@gmail">lloydjefferson@gmail</a><a class="address-link"
          href="https://maps.app.goo.gl/pFM8VSLDsqYCjLHq6" target="_blank">USA, New York</a>
      </address>
    </div>
    <form class="contact-form">
      <input class="contact-input" type="email" placeholder="Your email*" />
      <p class="message valid">Invalid email, try again</p>
      <textarea class="contact-textarea" placeholder="Message"></textarea><button class="contact-btn" type="submit">SEND
        MESSAGE</button>
    </form>
  </div>
</section>