@font-face {
  font-family: 'Impact';
  src: url('../fonts/impact.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
       url('../fonts/poppins-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
       url('../fonts/poppins-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
       url('../fonts/poppins-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
       url('../fonts/poppins-semibold-webfont.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1,
h2 {
  font-family: 'Impact', sans-serif;
  font-size: 108px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.green-span {
  color: #00b068;
}

.dark-theme .green-link:hover {
  color: #14c57c
}

.dark-theme .green-span {
  color: #14c57c;
}

:root {
  --background-color: #ffffff;
  --text-color: #292929;
  --stroke: #111;
}

body.dark-theme {
  --background-color: #1E2023;
  --text-color: #f0f0f0;
  --stroke: #fff;
}

.dark-theme .icon-toggle-color {
  stroke: var(--stroke);
}

.icon-toggle-color {
  stroke: var(--stroke);
  transition: fill 0.5s ease;
}

.icon-toggle-color:active {
  stroke: #14c57c;
}