.container {
  min-width: 320px;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 360px) {
  .container {
    max-width: 360px;
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 708px;
    padding: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 32px;
  }

  button,
  a {
    cursor: pointer;
  }
}