.faq {
  padding-bottom: 43px;
}

.faq-photo {
  display: none;
}

.faq-logo {
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.ac.faq-list-item .faq-list-title {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 28px 19px 20px 19px;
  color: var(--text-color);
}

.dark-theme .faq-list-title {
  color: var(--text-color)
}

.ac .ac-trigger::after {
  content: none;
}

.faq-btn-svg {
  margin-left: -1px;
  display: block;
  flex-shrink: 0;
  transition: transform 0.5s;
  stroke: var(--stroke);
}

/* .dark-theme .faq-btn-svg {
  stroke: var(--stroke);
} */

.faq-list-item-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 28px;
  color: var(--text-color);
}

.faq-list-item {
  border-bottom: 1px solid #e4e5e6;
}

.ac {
  margin-top: 0;

  border-right: none;
  border-left: none;
  border-top: none;
  background-color: transparent;
}

.is-active {
  background-color: #bcdfd1;

  border-bottom: none;
  border-radius: 16px;
  transition: background-color 0.5s ease;
}

.dark-theme .is-active {
  background-color: #204136;
}

.is-active .faq-btn-svg {
  transform: rotate(180deg);

}

.is-active .faq-btn-svg {
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .faq {
    padding-bottom: 124px;
  }

  .faq-logo {
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    max-width: 592px;
    margin-bottom: 60px;
  }

  .ac.faq-list-item .faq-list-title {
    font-size: 20px;
    line-height: 1.6;
    padding: 28px 24px 20px 24px;
  }

  .faq-btn-svg {
    margin-left: 11px;
  }

  .faq-photo {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .faq {
    padding-bottom: 160px;
  }

  .faq-list {
    width: 592px;
    margin-left: auto;
  }

  .faq-btn-svg {
    margin-left: 47px;
  }

  .wrapper {
    display: flex;
    align-items: flex-end;
  }

  .faq-photo {
    display: block;
  }
}