.header {
  border-bottom: 1px solid #e4e5e6;
  height: 64px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-container {
  display: flex;
  width: 100%;
}

.header-logo {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: "Impact", sans-serif;
}

.header-navigation {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.header-list {
  display: none;
  gap: 4px;
  white-space: nowrap;
  padding-left: 166px;
}

.header-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.header-link:focus,
.header-link:hover {
  color: #00b068;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e4e5e6;
  border-radius: 24px;
  transition: background-color 0.4s ease;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  top: 2px;
  background-color: #00b068;
  border-radius: 50%;
  transition: transform 0.4s ease;
}

.slider:after {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  top: 2px;
  background-color: #00b068;
  border-radius: 50%;
  clip-path: circle(50% at 25% 50%);
  transition: transform 0.4s ease;
}

.switch input {
  display: none;
}

input:checked+.slider {
  background-color: #204136;
}

input:checked+.slider:before {
  transform: translateX(20px);
}

input:checked+.slider:after {
  transform: translateX(20px);
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  stroke: currentColor;
}

@media screen and (min-width: 768px) {
  .header {
    height: 96px;
    padding: 32px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .menu-toggle {
    display: none;
  }

  .header-logo {
    font-size: 32px;
  }

  .header-navigation {
    margin-right: none;
  }
}

@media screen and (min-width: 1280px) {
  .header-list {
    padding-left: 590px;
  }
}