.title-btn-cont {
  padding-top: 112px;
}

.hero-content-container {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  padding-bottom: 52px;
  margin: 0 auto;
  gap: 40px;
  background-image: url(/img/hero/bg-hero-mob.png);
  background-size: cover;
  background-position: left -22px top 12px;
  background-repeat: no-repeat;
}

@media screen and (min-resolution: 192dpi) {
  .hero-content-container {
    background-image: url(/img/hero/bg-hero-mob@2x.png);
  }
}

/* ------------------------------------------------- */
.title-btn-cont {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero-title {
  font-size: 64px;
  line-height: 125%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.btn-decor-container {
  display: flex;
}

.hero-btn {
  position: absolute;
  z-index: 2;
  margin-top: 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
}

.dark-theme .decor-btn {
  background-color: #14c57c;
}

.dark-theme .decor-btn:hover {
  background-color: #009156;
}

.decor-btn {
  margin-left: 166px;
  border-radius: 16px;
  width: 165px;
  height: 92px;
  background-color: #bcdfd1;
}

.hero-btn::before {
  content: url(/img/hero/hero-arrow-green.svg);
  margin-right: 12px;
}
.hero-btn:hover:before {
  content: url(/img/hero/hero-arrow-white.svg);
}

.hero-btn:hover + .decor-btn {
  background-color: #00b068;
  box-shadow: 0 1px 2px rgba(0, 176, 104, 1), 0 2px 4px rgba(0, 176, 104, 1);
  transform: translatex(-61%);
  transition: transform 320ms cubic-bezier(0.4, 0, 0.2, 1);
}

.decor-btn:hover {
  background-color: #00b068;
  box-shadow: 0 1px 2px rgba(0, 176, 104, 1), 0 2px 4px rgba(0, 176, 104, 1);
}

/* ------------------------------------------------- */
.img-text-cont {
  display: block;
  flex-direction: column;
  gap: 80px;
}

.hero-img {
  display: none;
  width: 592px;
  height: 444px;
}

.hero-text {
  max-width: 320px;
  height: 140px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
}

.hero-text-span {
  color: #00b068;
}

/* ------------------------------------------------- */
.list-container {
  width: 360px;
  margin: 0 auto;
}

.hero-list {
  width: 360px;
  height: 232px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #e4e5e6;
  margin: 0 auto;
}

ul.hero-list {
  min-width: 100%;
}

body.dark-theme .hero-list {
  background-color: #2a2d32;
}

.hero-list-item {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--black);
}

.dark-theme .hero-list-item:hover {
  color: #14c57c;
}

.hero-list-item:hover {
  color: #00b068;
}

/* ===================================================== */
@media screen and (min-width: 768px) {
  .title-btn-cont {
    max-width: 768px;
    padding-top: 80px;
    gap: 60px;
  }

  .hero-content-container {
    max-width: 704px;
    padding-bottom: 84px;
    background-image: url(/img/hero/bg-hero-tab.png);
    background-size: cover;
    background-position: left 4px top 4px;
    background-repeat: no-repeat;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-content-container {
      background-image: url(/img/hero/bg-hero-tab@2x.png);
    }
  }

  /* ------------------------------------------------- */
  .hero-title {
    font-size: 124px;
    line-height: 119%;
    letter-spacing: 0.01em;
  }

  .decor-btn {
    margin-left: 155px;
    border-radius: 16px;
    width: 261px;
    height: 92px;
    background-color: #bcdfd1;
  }

  /* ------------------------------------------------- */
  .hero-text {
    max-width: 704px;
    height: 96px;
    font-size: 20px;
    line-height: 160%;
  }

  /* ------------------------------------------------- */
  .list-container {
    width: 768px;
  }

  .hero-list {
    width: 768px;
    height: 104px;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    padding-top: 40px;
  }
}

/* ======================================================== */
@media screen and (min-width: 1280px) {
  .title-btn-cont {
    max-width: 1280px;
    padding-bottom: 76px;
    padding-top: 0;
    gap: 80px;
  }

  .hero-content-container {
    max-width: 1216px;
    padding-top: 88px;
    padding-bottom: 0px;
    gap: 72px;
    display: flex;
    flex-direction: row;
    background-image: url(/img/hero/bg-hero-desk.png);
    background-size: cover;
    background-position: left -4px top 4px;
    background-repeat: no-repeat;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-content-container {
      background-image: url(/img/hero/bg-hero-desk@2x.png);
    }
  }

  /* ------------------------------------------------- */
  .hero-title {
    width: 552px;
    height: 444px;
    font-weight: 400;
    font-size: 124px;
    line-height: 119%;
    letter-spacing: 0.01em;
  }

  .hero-btn {
    margin-left: 72px;
  }

  .decor-btn {
    margin-left: 226px;
    border-radius: 16px;
    width: 261px;
    height: 92px;
    background-color: #bcdfd1;
  }

  /* ------------------------------------------------- */
  .img-text-cont {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .hero-img {
    display: block;
    border-radius: 32px;
    width: 592px;
    height: 444px;
  }

  .hero-text {
    max-width: 592px;
    height: 96px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
  }

  /* ------------------------------------------------- */
  .list-container {
    width: 1280px;
  }

  .hero-list {
    width: 1280px;
    height: 104px;
  }
}
