.my-projects {
  text-align: center;
}

.my-projects .container {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title-projects {
  text-align: center;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}

.list-projects {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container-image {
  border-radius: 16px;
  width: 320px;
  height: 184px;
  overflow: hidden;
  border: none;
}

.info-container {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text-info {
  text-align: left;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.about-project {
  text-align: left;
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.visit-button {
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: #e4e5e6;
  color: var(--text-color);
  border-radius: 8px;
  padding: 12px 24px;
  width: 125px;
  height: 48px;
  margin-left: auto;
  border: none;
  font-weight: 500;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visit-button:hover {
  background-color: #bbbbbb;
}

.icon-button {
  stroke-width: 2px;
  stroke: #00b068;
  fill: transparent;
}

.list-project-item {
  display: flex;
}

.load-btn {
  cursor: pointer;
  padding: 12px 24px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  border: none;
  color: var(--text-color);
  background-color: transparent;
  text-decoration: underline;
  text-decoration-color: #00b068;
  text-decoration-thickness: 1.6px;
  text-underline-offset: 6px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-btn:hover {
  color: #009156;
}

.dark-theme .visit-button {
  background-color: #2a2d32;
  color: var(--text-color);
}

.dark-theme .visit-button:hover {
  background-color: #3b3f45;
  color: var(--text-color);
}
.body.dark-theme,
.load-btn:hover {
  color: #009156;
}

@media (min-width: 768px) {
  .my-projects .container {
    min-width: 768px;
    padding: 0px 32px;
    gap: 60px;
    padding-bottom: 124px;
  }

  .title-projects {
    text-align: center;
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
  }
  .list-projects {
    gap: 60px;
  }

  .container-image {
    border-radius: 24px;
    width: 704px;
    height: 404px;
    overflow: hidden;
  }

  .project-container {
    gap: 16px;
  }

  .info-container {
    width: 704px;
    position: relative;
    display: flex;
  }

  .text-info {
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }

  .about-project {
    font-size: 36px;
    line-height: 133%;
    letter-spacing: -0.05em;
  }

  .visit-button {
    border-radius: 8px;
    margin-left: none;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .load-btn {
    font-size: 20px;
    line-height: 160%;
  }
}

@media (min-width: 1280px) {
  .my-projects .container {
    gap: 80px;
    padding-left: 136px;
    padding-right: 136px;
    padding-bottom: 164px;
    min-width: 1280px;
  }
  .list-projects {
    gap: 80px;
  }

  .container-image {
    width: 1008px;
    height: 580px;
    overflow: hidden;
  }
  .about-project {
    letter-spacing: 0.01em;
  }

  .info-container {
    width: 1008px;
  }
}
