.reviews {
  text-align: center;
}

.reviews .container {
  padding-bottom: 0;
}

.reviews-title {
  color: var(--text-color);
  margin-bottom: 60px;
  font-size: 52px;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .reviews-title {
    font-size: 108px;
  }
}

@media (min-width: 1280px) {
  .reviews-title {
    font-size: 108px;
  }
}

.swiper-container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.swiper-wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-items: start;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  background-color: #e4e5e6;
  height: 224px;
  box-sizing: border-box;
}

body.dark-theme .swiper-slide {
  background-color: #2a2d32;
}

.review-text {
  font-size: 16px;
  color: #333;
  margin: 10px 0 24px;
  text-align: left;
  overflow: auto;
}

body.dark-theme .review-text {
  color: #f0f0f0;
}

@media (min-width: 1280px) {
  .swiper-slide {
    width: calc(50% - 16px);
    flex-basis: calc(50% - 16px);
    height: 224px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .swiper-slide {
    width: 100%;
    flex-basis: 100%;
    height: 224px;
  }
}

@media (max-width: 767px) {
  .swiper-slide {
    width: 100%;
    flex-basis: 100%;
    align-items: center;
    height: 296px;
  }
}

.reviewer-info {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  gap: 10px;
  margin-top: auto;
}

.review-photo {
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reviewer-name {
  font-weight: bold;
  margin-top: 8px;
}

.swiper-buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 36px;
  gap: 24px;
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #e4e5e6;
  padding: 12px;
  color: #292929;
  cursor: pointer;
  box-shadow: 0 1px 2px #14C57C, 0 2px 4px #009156;
}

.dark-theme .swiper-button-next {
  background-color: #1e2023;
  border: 1px solid #2a2d32;
}

.dark-theme .swiper-button-prev {
  border-color: #2a2d32;
  background-color: #1e2023;
}

/* .icon {
  stroke: var(--stroke);
  fill: var(--stroke);
}

.dark-theme .icon {
  stroke: var(--stroke);
  fill: var(--stroke);
} */

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #bbbbbb;
}

.dark-theme .swiper-button-prev:hover,
.dark-theme .swiper-button-next:hover {
  background-color: #2a2d32;
}

.swiper-button-prev:disabled,
.swiper-button-next:disabled {
  color: #e4e5e6;
  cursor: not-allowed;
}

.dark-theme .swiper-button-prev:disabled,
.dark-theme .swiper-button-next:disabled {
  background-color: #1e2023;
  border: 1px solid #2a2d32;
}

.swiper-button-prev:disabled:hover,
.swiper-button-next:disabled:hover {
  background-color: transparent;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
}

#error-message {
  margin-top: 20px;
  color: red;
  font-size: 18px;
  display: none;
}

.hidden {
  display: none;
}
