.reviews {
  text-align: center;
}

h2 {
  color: #292929;
  margin-bottom: 80px;
}

.swiper-container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 50px;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 20px;
  border-radius: 16px;
  background-color: #e4e5e6;
  height: auto;
}

.review-text {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
  text-align: left;
}

@media (min-width: 1280px) {
  .swiper-slide {
    width: calc(50% - 16px);
    flex-basis: calc(50% - 16px);
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .swiper-slide {
    width: 100%;
    flex-basis: 100%;
  }
}

@media (max-width: 767px) {
  .swiper-slide {
    width: 100%;
    flex-basis: 100%;
  }
}

.reviewer-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.review-photo {
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reviewer-name {
  font-weight: bold;
  margin-top: 8px;
}

.swiper-buttons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  gap: 24px;
}

.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #e4e5e6;
  padding: 12px;
  color: #292929;
  fill: #292929;
  cursor: pointer;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #bbbbbb;
}

.swiper-button-prev:disabled,
.swiper-button-next:disabled {
  color: #e4e5e6;
  cursor: not-allowed;
}

.swiper-button-prev:disabled:hover,
.swiper-button-next:disabled:hover {
  background-color: transparent;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
}

#error-message {
  margin-top: 20px;
  color: red;
  font-size: 18px;
  display: none;
}

.hidden {
  display: none;
}
