:root {
  --background-input-color: #e4e5e6;
}

body.dark-theme {
  --background-input-color: #2a2d32;
}

.icon-toggle-color {
  stroke: var(--icon-color);
  transition: fill 0.5s ease;
}

.work-together .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.contact-title {
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.contact-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.address-icon {
  width: 24px;
  height: 24px;
  stroke-width: 1px;
  stroke: #00b068;
  fill: transparent;
}

.address-link {
  font-style: normal;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: row;
  gap: 16px;
  max-width: fit-content;
}

.address-link:hover,
.address-link:focus {
  color: #00b068;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.contact-input,
.contact-textarea {
  border-radius: 8px;
  padding: 16px;
  outline: none;
  border: none;
  background-color: var(--background-input-color);
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.contact-input {
  padding-top: 12px;
  padding-bottom: 12px;
}

.filled-icon {
  fill: #009156;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 15px;
  right: 17px;
}

.filled-icon.invalid {
  display: none;
}

.message.valid {
  display: none;
}

.message.invalid {
  font-weight: 300;
  font-size: 12px;
  color: #e74a3b;
  position: absolute;
  top: 54px;
}

.contact-input.invalid {
  color: #e74a3b;
}

.contact-textarea {
  height: 138px;
  resize: none;
}

.contact-input::placeholder,
.contact-textarea::placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.contact-btn {
  border-radius: 8px;
  padding: 12px 24px;
  border: none;
  background-color: #00b068;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #f0f0f0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-btn:hover,
.contact-btn:focus {
  background-color: #009156;
}

@media screen and (min-width: 768px) {
  .work-together .container {
    gap: 60px;
    padding-top: 124px;
    padding-bottom: 124px;
    background-image: url(./img/work-together/bg-work-together-tab.png);
    background-repeat: no-repeat;
    background-position: right 32px top 4px;
  }

  @media (min-resolution: 192dpi) {
    .work-together .container {
      background-image: url(./img/work-together/bg-work-together-tab@2x.png);
      background-size: 50%;
    }
  }

  .contact-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    max-width: 514px;
  }

  .contact-text {
    font-size: 20px;
    max-width: 488px;
  }

  .address {
    flex-direction: row;
  }

  .contact-textarea {
    height: 128px;
  }

  .contact-btn {
    width: fit-content;
  }
}

@media screen and (min-width: 1280px) {
  .work-together .container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    padding-top: 164px;
    padding-bottom: 164px;
    background-image: url(./img/work-together/bg-work-together-desk.png);
    background-repeat: no-repeat;
    background-position: right 32px top 48px;
  }

  @media (min-resolution: 192dpi) {
    .work-together .container {
      background-image: url(./img/work-together/bg-work-together-desk@2x.png);
      background-size: 50%;
    }
  }

  .contact-title {
    margin-right: 200px;
  }

  .contact-text {
    margin-bottom: 120px;
  }

  .address {
    flex-direction: column;
  }

  .contact-input,
  .contact-textarea {
    width: 592px;
  }
}

.confirmation-modal-overlay {
  background-color: #292929c5;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.confirmation-modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  overflow: auto;
}

.confirmation-container {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 16px;
  padding: 16px 32px 48px;
  background: var(--background-input-color);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 316px;
}

.close-confirmation-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 8px;
  margin-right: -16px;
  margin-left: auto;
  cursor: pointer;
}

.close-icon {
  width: 24px;
  height: 24px;
  stroke-width: 2px;
  stroke: var(--text-color);
}
.confirmation-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #00b068;
  margin-bottom: 16px;
}
.confirmation-text {
  text-align: center;
}

.confirmation-title,
.confirmation-text {
  max-width: 256px;
}

@media screen and (min-width: 768px) {
  .confirmation-container {
    padding: 20px 64px 64px;
  }

  .close-confirmation-btn {
    margin-bottom: 20px;
    margin-right: -40px;
  }

  .confirmation-title,
  .confirmation-text {
    max-width: 364px;
  }
}
